body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px #00000033;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

h1 {
  color: #333;
  font-size: 2.5em;
}

.login-logo img {
  width: 120px;
}

form {
  margin-top: 20px;
}

label,
input {
  display: block;
  margin: 10px 0;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
  width: 100%;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.login-links {
  margin-top: 20px;
  font-size: 14px;
}

.login-links a {
  color: #007bff;
  text-decoration: none;
}

.login-links a:hover {
  text-decoration: underline;
}
