<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Nutraining | Home</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon-16x16.png') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/home.css') }}"
    />
  </head>
  <body>
    <div class="home-container">
      <div class="home-header">
        <img
          src="{{ url_for('static', filename='images/logo.png') }}"
          alt="Logo"
        />
      </div>
      <h1>Bem-Vindo à sua Home!</h1>
      <div class="home-content">
        <p>
          Explore o que temos para oferecer e aproveite os benefícios da
          nutrição ativa!
        </p>
      </div>
      <div class="home-footer">
        <p>© 2023 Seu Projeto. Todos os direitos reservados.</p>
      </div>
    </div>
  </body>
</html>
