<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Nutraining</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon-16x16.png') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/estilo.css') }}"
    />
  </head>
  <body>
    <header>
      <nav>
        <a href="{{ url_for('login') }}" class="btn">Login</a>
      </nav>
    </header>
    <main>
      <h1>Bem-Vindo ao Projeto de Autenticação!</h1>
    </main>
    <footer>
      <p>© 2023 Projeto de Autenticação. Todos os direitos reservados.</p>
    </footer>
  </body>
</html>
