<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Nutraining | Login</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon-16x16.png') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
  </head>
  <body>
    <div class="login-container">
      <div class="login-logo">
        <img
          src="{{ url_for('static', filename='images/logo.png') }}"
          alt="Logo"
        />
      </div>
      <h1>Login</h1>
      <form method="POST">
        <label for="username">Usuário</label>
        <input type="text" id="username" name="username" required />
        <label for="password">Senha</label>
        <input type="password" id="password" name="password" required />
        <button type="submit">Login</button>
      </form>
      <div class="login-links">
        <a href="#">Esqueceu sua senha?</a> | <a href="#">Criar Conta</a>
      </div>
    </div>
  </body>
</html>
